{% extends "layout.html" %}

{% block title %}
    Buy shares
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id = "symbol" name="symbol" placeholder="Enter ticker e.g. NFLX, AAPL" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" id = "shares" name="shares" placeholder="Enter share quantity" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}